@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

html,
body {
  margin: 0;
}

body {
  display: block;
  background-color: #f4fce3;
  font-family: "Roboto Condensed", sans-serif;
}

/* NAVIGATION */

nav p {
  font-size: 3em;
  margin: 0;
  font-family: "Indie Flower", cursive;
}

nav {
  background-color: #ffffff6c;
  color: black;
}

.top-navbar {
  position: relative; /* eller position: static; */
  padding: 5px;
  text-align: center;
}

.top-navbar {
  padding: 15px 0 15px 0;
}

a:active,
a:visited,
a:focus {
  text-decoration: none;
}

a:hover {
  color: #b5b69c;
}

/* NAVIGATION */

/* MAIN */
