@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

html,
body {
  margin: 0;
}

body {
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
  color: white; /* Set default text color */
}

/* NAVIGATION */

.top-navbar {
  position: relative;
  text-align: center;
  background-color: #b5b69cb4;
  color: black;
  z-index: 2; /* Ensure the navigation bar is above the main content */
}

.top-navbar p {
  font-size: 3em;
  margin: 0;
  font-family: "Indie Flower", cursive;
}

.top-navbar a i {
  margin: 10px 15px 30px 15px;
}

.top-navbar a:active,
.top-navbar a:visited,
.top-navbar a:focus {
  text-decoration: none;
}

a:hover {
  color: #b5b69c;
}

/* NAVIGATION */

/* MAIN */

main {
  text-align: center;
  margin: 30px; /* Adjust margins for responsiveness */
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.795); /* Transparent white background */
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
