@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Nunito+Sans:opsz,wght@6..12,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Roboto+Condensed&display=swap");

html,
body {
  margin: 0;
}

body {
  background-color: white;
}

/* NAVIGATION */

nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  font-family: "Roboto Condensed", sans-serif;
}

nav a {
  padding: 14px 16px;
  font-size: 17px;
  display: inline-block;
}

a:active,
a:visited,
a:focus {
  text-decoration: none;
}

a:hover {
  color: white;
}

.links-right {
  text-align: right;
}

.links-left {
  text-align: left;
}

.links-center {
  text-align: center;
}

/* NAVIGATION */

/* MAIN */

main {
  padding: 16px;
  margin-bottom: 30px;
}
