/* body {
  background: lightblue;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

img {
  transform: rotateZ(-90deg) translateY(200px) scale(2);
}

.circle {
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background 1s ease-in-out, transform 1s 1s ease-in-out;
}

.circle:hover {
  background: salmon;
  transform: rotate(360deg);
} */

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.sky,
.grass,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.road {
  height: 30%;
  background: dimgray;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/* ELEMENTS TO ANIMATE  */

.mario {
  position: absolute;
  top: -40px;
  left: 0px;
  animation-name: drive;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 3;
}

/* KEYFRAMES */

@keyframes drive {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(700px);
  }
}
