* {
  font-family: verdana;
  margin: 0;
}

body {
  background-color: #eee;
  color: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* ----------------------------------------------- */
/* Difference from vanilla CSS compared to flexbox */

.flex-container {
  display: flex;
  flex-wrap: wrap-reverse;
}

/* .flex-container:after {
  content: "";
  display: block;
  clear: both;
} */

/* Difference from vanilla CSS compared to flexbox */
/* ----------------------------------------------- */
.box {
  height: 100px;
  /* min-width: 200px; */

  /* flex-basis: 200px; */ /* Preferred instead of min-width when using flexbox */
  /* flex-grow: 1; */

  text-align: center;
  flex: 1 0 200px; /* FLEX-GROW, FLEX-SHRINK, FLEX-BASIS */
}

.one {
  background-color: red;
  flex-grow: 2;
  /* flex-shrink: 1; */
  /* flex-basis: 100px; */
}

.two {
  background-color: blue;
  flex-grow: 3;
  /* flex-shrink: 2; */
  /* flex-basis: 200px; */
}

.three {
  background-color: green;
  flex-grow: 1;
  /* flex-shrink: 3; */
  /* flex-basis: 300px; */
}

/* ================================================ */
/* FLEXBOX MENU */

/* Base Style */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
  /* background-color: #777; */
}

nav a:hover {
  background-color: #555;
}

/* social media style */
a.fb {
  background: url(./fb.png) no-repeat center;
  background-size: 80%;
}

a.tw {
  background: url(./tw.png) no-repeat center;
  background-size: 80%;
}

.social {
  max-width: 80px;
  margin: 0 auto;
}

.social a {
  text-indent: -10000px;
}

/* Flex Style */

nav ul.social {
  flex: 1 1 0;
  display: flex;
}

nav ul.social li {
  flex: 1 1 0;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: flex-start;
  }

  nav li {
    flex: 1 1 0;
  }
}
