@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 26px;
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", serif;
  text-rendering: geometricPrecision;
  color: #767676;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  display: block;
  font-family: "Ubuntu", sans-serif;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  background-color: #fff;
  position: sticky;
  top: 0;
}

header nav {
  display: flex;
  flex-direction: row;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  color: #000;
  padding: 31px;
  position: relative;
}

header nav ul a::before {
  background: rgba(165, 171, 255, 0.15);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

header nav ul a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

header nav img {
  width: 180px;
  height: auto;
}

.align-right {
  display: flex;
  margin-left: auto;
}

#HOME {
  border-left: rgba(0, 0, 0, 0.1) 1px solid;
}

#SEARCH {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: rgba(0, 0, 0, 0.1) 1px solid;
}

#SEARCH li {
  margin-left: 10px;
}

/* ================================== */

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.main-container button {
  background-color: rgba(165, 171, 255, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-container button:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .main-container button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.beer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  width: 380px;
  margin-inline: 75px;
  background-color: rgba(165, 171, 255, 0.15);
  border-radius: 3px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.beer-container .beer-img {
  margin-block: 30px;
}

.beer-container .beer-img img {
  width: auto;
  height: 380px;
}

.beer-container .beer-info {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid rgba(0, 0, 0, 0.1);

  width: 100%;
  height: 100px;
  background: #fff;
}