* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 26px;
  font-family: "adobe-garamond-pro", Georgia, "Times New Roman", serif;
  text-rendering: geometricPrecision;
  color: #767676;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  display: block;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  background-color: #fff;
  position: sticky;
  top: 0;
}

header nav {
  display: flex;
  flex-direction: row;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  color: #000;
  padding: 31px;
  position: relative;
}

header nav ul a::before {
  background: rgba(165, 171, 255, 0.15);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

header nav ul a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

header nav img {
  width: 180px;
  height: auto;
}

.align-right {
  display: flex;
  margin-left: auto;
}

#HOME {
  border-left: rgba(0, 0, 0, 0.1) 1px solid;
}

#SEARCH {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: rgba(0, 0, 0, 0.1) 1px solid;
}

#SEARCH li {
  margin-left: 10px;
}