.minaSidor {
}

.hMinaSidor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../img/bottom.png') no-repeat center/cover;
  height: 25rem;
}

.heroMinaSidor img {
  height: 11.8rem;
  width: auto;
}
