.navBar {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: rgba(34, 15, 23, 0.863);
    padding: 0.2rem 0 0.5rem 0;
    width: 100%;
}

.navBar a {
    display: block;
    float: left;
    margin: 0 30px;
    color: rgba(255, 255, 255, 0.719);
    font-size: 2.6em;
    font-family: "Spirax", sans-serif;
    text-decoration: none;
}