body {
  background: #333;
}

.box {
  background: white;
  width: 200px;
  height: 200px;
  position: relative;
  animation: myanimation 4s;
}

@keyframes myanimation {
  0% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}
