body {
  background: #333;
  display: flex;
  justify-content: center;
}

.box {
  background: white;
  width: 16%;
  height: 20%;
  position: absolute;
  animation: myanimationtwo 8s 1s ease forwards infinite;
}

.box:nth-child(2) {
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes myanimation {
  0% {
    background-color: white;
    border-radius: 0;
  }
  25% {
    background-color: red;
    border-radius: 50% 0 0 0;
  }
  50% {
    background-color: green;
    border-radius: 50% 50% 0 0;
  }
  75% {
    background-color: blue;
    border-radius: 50% 50% 0;
  }
  100% {
    background-color: white;
    border-radius: 50% 50% 50% 50%;
  }
}

/* @keyframes myanimationtwo {
  0% {
    background-color: white;
    border-radius: 0;
  }
  25% {
    background-color: green;
    border-radius: 25%;
  }
  50% {
    background-color: white;
    border-radius: 50%;
  }
  75% {
    background-color: green;
    border-radius: 25%;
  }
  100% {
    background-color: white;
    border-radius: 0%;
  }
} */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS styles for mobile devices */
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS styles for tablets */
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS styles for laptops */
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS styles for desktops */
}

@media only screen and (min-width: 1201px) {
  /* CSS styles for large screens */
}
