body {
  background: #333;
  display: flex;
  justify-content: center;
}

.box {
  background: white;
  width: 200px;
  height: 200px;
  position: absolute;
  animation: myanimationtwo 8s 1s ease forwards infinite;
}

.box:nth-child(2) {
  animation: myanimation 4s ease forwards infinite;
}

@keyframes myanimation {
  0% {
    background-color: white;
    border-radius: 0;
    left: 0.5%;
    top: 0;
  }
  25% {
    background-color: red;
    border-radius: 12.5%;
    left: 50%;
    top: 0;
  }
  50% {
    background-color: green;
    border-radius: 25%;
    left: 50%;
    top: 0;
  }
  75% {
    background-color: blue;
    border-radius: 37.5%;
    left: 50%;
    top: 0;
  }
  100% {
    background-color: white;
    border-radius: 50%;
    left: 50%;
    top: 0;
  }
}

@keyframes myanimationtwo {
  0% {
    background-color: white;
    border-radius: 0;
  }
  12.5% {
    background-color: red;
    border-radius: 12.5%;
  }
  25% {
    background-color: green;
    border-radius: 25%;
  }
  37.5% {
    background-color: blue;
    border-radius: 37.5%;
  }
  50% {
    background-color: white;
    border-radius: 50%;
  }
  62.5% {
    background-color: blue;
    border-radius: 37.5%;
  }
  75% {
    background-color: green;
    border-radius: 25%;
  }
  87.5% {
    background-color: red;
    border-radius: 12.5%;
  }
  100% {
    background-color: white;
    border-radius: 0%;
  }
}
