@use '../abstracts/colors' as *;

.todo-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid $white;

  &:hover {
    box-shadow: 1px 3px 5px $black-transparent;
  }

  h2 {
    font-size: 20px;
    color: $pink;
    margin-bottom: 8px;
  }
}
