.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .card-container {
    display: flex;
    display: block;
    flex-direction: column;
    margin: 1.5rem 1rem;
    font-size: 0.85rem;

    .card--image-container {
      margin-block: 5px;
      position: relative;
      .card--image-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.6);
        padding: 0.1rem;
        width: 80px;
        position: absolute;
        top: 2%;
        left: 3%;

        border-radius: 3.5px;
        -webkit-border-radius: 3.5px;
        -moz-border-radius: 3.5px;
        -ms-border-radius: 3.5px;
        -o-border-radius: 3.5px;
        background-color: rgba(255, 255, 255, 1);
      }
      .card--image {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        width: 100%;
      }
    }

    .card--info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .card--review-text {
        color: rgba(0, 0, 0, 0.7);
        font-size: 0.9rem;
        .card--star {
          width: 14px;
          height: auto;
          margin-right: 0.5rem;
        }
        .card--review-location {
          color: rgba(0, 0, 0, 0.5);
        }
      }
      .card--desc {
        margin-block: 8px;
      }
      .card--price {
        .card--price-bold {
          font-weight: 600;
        }
      }
    }
  }
}
