.hero-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.2rem;

  .hero--image {
    display: flex;
    align-self: center;
    margin-bottom: 1rem;
  }

  .hero--title {
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .hero--body {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
  }

  .hero--title,
  .hero--body {
    margin-left: 3rem;
  }
}
