* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  box-sizing: border-box;
  color: white;
  background-color: black;
  margin: 0 35vh;
  font-family: "Poiret One", sans-serif;
}

nav {
  display: flex;
  position: fixed;
  width: 66.5%;
  justify-content: center;
  background-color: rgba(43, 28, 35, 0.863);
  padding: 0.2rem 0 0.5rem 0;
  z-index: 1100;
}

nav a,
nav a:visited,
nav a:hover,
nav a:active {
  float: left;
  display: block;
  margin: 0 30px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.719);
  font-size: 2.6em;
  font-family: "Spirax", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
}

.background {
  height: 100%;
  width: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hot-bg {
  background-image: url(/assets/img/hot.jpg);
}

#juicy-bg {
  background-image: url(/assets/img/juicy.jpg);
  border-top: 0.8rem solid darkred;
}

#cosy-bg {
  background-image: url(/assets/img/cosy.jpg);
  border-top: 0.8rem solid darkred;
}

.img-header {
  color: rgba(139, 0, 0);
  font-family: "Spirax", sans-serif;
  position: relative;
  top: 170px;
  left: 560px;
  font-size: 5.5em;
  font-weight: bolder;
}

.redbox-right {
  background-color: rgba(139, 0, 0, 0.7);
  padding: 10px 0;
  opacity: 0.9;
  width: 750px;
  line-height: 1.2em;
  font-size: 1.4em;
  text-align: center;
  position: relative;
  top: 190px;
  left: 310px;
}

.redbox-left {
  background-color: rgba(139, 0, 0, 0.7);
  padding: 10px 0;
  opacity: 0.9;
  width: 750px;
  line-height: 1.2em;
  font-size: 1.4em;
  text-align: center;
  position: relative;
  top: 170px;
  left: 200px;
}

.blackbox {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  opacity: 0.9;
  width: 750px;
  position: relative;
  top: 210px;
  left: 20%;
  line-height: 1.2em;
  font-size: 1.4em;
  float: left;
}

span {
  float: right;
}
