body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  justify-items: center;
  margin: 0;
  background-color: black;
  padding: 0;
  min-height: 100vh;
  color: white;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

/* ______ */
/* HEADER */

.header,
.main,
.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  margin-bottom: 30px;
  background-color: rgb(61, 224, 126);
  height: 380px;
}

header > h1 {
  color: black;
  font-size: 3.9em;
}

#ninja {
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100.5px;
}

.hamburger {
  .menuList {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 0;
    list-style: none;

    &.show-menu {
      display: flex;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .menuIcon {
    display: grid;
    position: absolute;
    top: 30px;
    left: 30px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
}

/* HEADER */
/* ______ */

.main {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: repeat(3, 240px);
  grid-row: 2;
  justify-content: center;
  gap: 33px;
}

.cardSm img {
  width: auto;
  height: 250px;
  object-fit: contain;
}

.cardLg {
  img {
    width: auto;
    height: 370px;
    object-fit: contain;
  }

  grid-row: span 2;
  margin: 28px 0 60px 0;
  background-color: white;
  padding-bottom: 10px;
  width: 370px;
  color: black;

  &:nth-child(10) {
    grid-column: 1 / span 1;
  }

  &:nth-child(11) {
    grid-column: 2 / span 1;
    margin-left: 150px;
  }
}

.cardTxt {
  padding-right: 10px;
  font-family: "Raleway", sans-serif;
  text-align: left;
}

.cardLg > {
  .cardTxt,
  .cardBtn {
    margin-left: 10px;
  }
}

.cardTxt {
  h4 {
    margin: 10px 0 10px 0;
    font-size: 1.5em;
  }

  p {
    margin: 15px 0 45px 0;
    font-size: 0.9em;
  }
}

.cardBtn {
  float: left;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 0px #f5978e;
  border: 1px solid #9e1306;
  border: 0;
  border-radius: 6px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  width: 135px;
  height: 26px;
  color: #ffffff;
  font-size: 0.66em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.cardLg > .cardBtn {
  height: 35px;
}

.footer {
  background-color: rgb(54, 54, 54);
  padding: 0 100px 50px 0;
  font-size: 0.75em;

  #nav {
    padding-left: 500px;

    > #footerNav {
    }
  }

  section > #nav {
    float: left;
    text-align: left;

    > ul {
      float: left;
      outline: none;
      color: white;
      list-style-type: none;
      text-decoration: none;
    }
  }
}

li,
a {
  float: left;
  outline: none;
  color: white;
  list-style-type: none;
  text-decoration: none;
}

.footer > {
  #footerNav > ul li a {
    color: white;
    text-align: left;
  }

  #address {
    position: absolute;
    left: 40%;
    padding: 0 0 5px 70px;
    padding-bottom: 5px;
    padding-left: 70px;
  }

  #socialMedia {
    position: absolute;
    left: 60%;
    padding: 15px 0 30px 0;
  }
}
