body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-items: center;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: black;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

/* ______ */
/* HEADER */

.header,
.main,
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  background-color: rgb(61, 224, 126);
  height: 380px;
  margin-bottom: 30px;
}

header > h1 {
  font-size: 3.9em;
  color: black;
}

#ninja {
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 100.5px;
  width: auto;
}

.hamburger .menuList {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

.hamburger .menuList.show-menu {
  display: flex;
}

.hamburger .menuList li {
  margin-bottom: 10px;
}

.hamburger .menuIcon {
  display: grid;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 30px;
}

/* HEADER */
/* ______ */

.main {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: auto auto auto auto;
  gap: 33px;
  justify-content: center;
}

.cardSm img {
  height: 250px;
  width: auto;
  object-fit: contain;
}

.cardLg img {
  height: 370px;
  width: auto;
  object-fit: contain;
}

.cardLg {
  width: 370px;
  background-color: white;
  color: black;
  padding-bottom: 10px;
  margin: 28px 0 60px 0;
  grid-row: span 2;
}

.cardLg:nth-child(10) {
  grid-column: 1 / span 1;
}

.cardLg:nth-child(11) {
  grid-column: 2 / span 1;
  margin-left: 150px;
}

.cardTxt {
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding-right: 10px;
}

.cardLg > .cardTxt,
.cardLg > .cardBtn {
  margin-left: 10px;
}

.cardTxt h4 {
  font-size: 1.5em;
  margin: 10px 0 10px 0;
}

.cardTxt p {
  font-size: 0.9em;
  margin: 15px 0 45px 0;
}

.cardBtn {
  box-shadow: inset 0px 0px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #9e1306;
  width: 135px;
  height: 26px;
  float: left;
  font-size: 0.66em;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.cardLg > .cardBtn {
  height: 35px;
}

.footer {
  background-color: rgb(54, 54, 54);
  padding: 0 100px 50px 0;
  font-size: 0.75em;
}

.footer #nav {
  padding-left: 500px;
}

.footer #nav > #footerNav {
}

.footer section > #nav {
  float: left;
  text-align: left;
}

.footer section > #nav > ul,
li,
a {
  color: white;
  float: left;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.footer > #footerNav > ul li a {
  color: white;
  text-align: left;
}

.footer > #address {
  position: absolute;
  left: 40%;
  padding-bottom: 15px;
  padding-left: 70px;
}

.footer > #socialMedia {
  position: absolute;
  left: 60%;
  padding: 10px 0 30px 0;
}
