.hamburger .menuList {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger .menuList.show-menu {
  display: block;
}

.hamburger .menuList li {
  margin-bottom: 10px;
}

.hamburger .menuIcon {
  cursor: pointer;
}
