html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  /* 3 */
}

main {
  display: block;
  /* 4 */
}

h1 {
  font-size: 2em;
  /* 5 */
  margin: 0.67em 0;
  /* 6 */
}

hr {
  box-sizing: content-box;
  /* 7 */
  height: 0;
  /* 8 */
  overflow: visible;
  /* 9 */
}

pre {
  font-family: monospace, monospace;
  /* 10 */
  font-size: 1em;
  /* 11 */
}

a {
  background-color: transparent;
  /* 12 */
}

abbr[title] {
  border-bottom: none;
  /* 13 */
  text-decoration: underline;
  /* 14 */
  text-decoration: underline dotted;
  /* 15 */
}

b,
strong {
  font-weight: bolder;
  /* 16 */
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 17 */
  font-size: 1em;
  /* 18 */
}

small {
  font-size: 80%;
  /* 19 */
}

sub,
sup {
  font-size: 75%;
  /* 20 */
  line-height: 0;
  /* 21 */
  position: relative;
  /* 22 */
  vertical-align: baseline;
  /* 23 */
}

sub {
  bottom: -0.25em;
  /* 24 */
}

sup {
  top: -0.5em;
  /* 25 */
}

img {
  border-style: none;
  /* 26 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 27 */
  font-size: 100%;
  /* 28 */
  line-height: 1.15;
  /* 29 */
  margin: 0;
  /* 30 */
}

button,
input {
  overflow: visible;
  /* 31 */
}

button,
select {
  text-transform: none;
  /* 32 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 33 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  /* 34 */
  padding: 0;
  /* 35 */
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
  /* 36 */
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
  /* 37 */
}

legend {
  box-sizing: border-box;
  /* 38 */
  color: inherit;
  /* 39 */
  display: table;
  /* 40 */
  max-width: 100%;
  /* 41 */
  padding: 0;
  /* 42 */
  white-space: normal;
  /* 43 */
}

progress {
  vertical-align: baseline;
  /* 44 */
}

textarea {
  overflow: auto;
  /* 45 */
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 46 */
  padding: 0;
  /* 47 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* 48 */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 49 */
  outline-offset: -2px;
  /* 50 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* 51 */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 52 */
  font: inherit;
  /* 53 */
}

details {
  display: block;
  /* 54 */
}

summary {
  display: list-item;
  /* 55 */
}

template {
  display: none;
  /* 56 */
}

[hidden] {
  display: none;
  /* 57 */
}