nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.6rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  .nav--logo {
    margin-left: 10px;
    max-width: 100%;
    width: 6rem;
    height: auto;
  }
}
