body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

img {
  width: 100px;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}