body {
  font-family: "Fira Sans", sans-serif;
  color: black;
}

/* Header styles */
header .welcomeHeader {
  background-color: #c7ddea;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

header .welcomeHeader h1 {
  text-align: left;
  font-size: 3.5rem;
  margin: 0 0 60px 30px;
  font-weight: bold;
}

header .welcomeHeader img {
  margin: 0 20px 0 0;
}

main {
  background-color: #a9a19e;
}

main section h2 {
  font-size: 3em;
  padding: 20px 0;
  margin-inline: 30px;
  text-align: left;
}

input,
textarea,
button,
select {
  border: none;
  outline: none;
}

.contactForm {
  margin: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  margin: 10px 0;
}

.contactForm label {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: bold;
  font-size: 0.9em;
}

.contactForm input,
.contactForm textarea {
  border-radius: 3px;
}

.contactForm textarea::placeholder {
  color: black !important;
}

.contactForm input.submitButton {
  align-self: flex-end;
  width: 170px;
  margin: 30px 0 -60px 0;
  background-color: #fff;
  border-radius: 50px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px -1px,
    rgba(0, 0, 0, 0.14) 0 1px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: #333333;
  cursor: pointer;
  font: 700 11px/45px "Fira Sans", sans-serif;
  padding: 0 50px;
}

.contactDir {
  width: 90%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 25px;
  z-index: 1;
  position: relative;
  top: 90px;
  border-radius: 3px;
}

hr {
  width: 100%;
  color: white;
}

.bottomImgContainer {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomImg {
  width: 100%;
  display: block;
}

.contactDir h3 {
  font-size: 3em;
}

.contactDir p {
  margin: 8px 0;
}

@media (min-width: 767px) {
  main .formBox {
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 20%;
  }

  main .formBox h2 {
    align-self: flex-start;
  }

  .formBox .contactForm {
    width: 40%;
    margin-right: 80px;
  }

  .contactDir {
    width: 20%;
    display: flex;
    align-items: flex-start;
    padding: 30px 25px;
    z-index: 1;
    position: relative;
    top: 320px;
    left: -500px;
    border-radius: 3px;
  }
  .bottomImgContainer {
    max-width: 100%;
    max-height: 60vh;
  }
}
