@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre:wght@900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul li a,
ul li a:hover,
ul li a:visited {
  text-decoration: none;
  color: #999999;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header nav {
  display: flex;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  font-weight: bolder;
}

header nav ul li {
  flex: 1 0 50%;
  padding: 30px 30px;
  box-sizing: border-box;
  text-align: center;
}

header nav ul li:hover,
header nav ul li._current {
  background-color: rgba(169, 169, 169, 0.2);
}

header nav ul li a._current {
  color: black;
}

.one-section h2,
.two-section h2,
.three-section h2,
.four-section h2 {
  font-size: 3rem;
  text-align: left;
  margin: 30px 30px;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
}

.two-section h2,
.three-section h2 {
  color: white;
}

.one-section p,
.two-section p,
.three-section p,
.four-section p {
  font-size: 1rem;
  text-align: left;
  margin: 0 30px;
  color: black;
}

/* =================== */
/* class="one-section" */
.one-section {
  justify-content: space-between;
  background-color: #c7ddea;
  color: black;
}

.one-section p > span {
  color: white;
}

.one-section button {
  align-self: flex-start;
  margin: 42px 30px;
  background-color: #fff;
  border-radius: 50px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px -1px,
    rgba(0, 0, 0, 0.14) 0 1px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: #333333;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  height: 45px;
  padding: 0 50px;
}

.one-section img {
  width: 250px;
  height: auto;
  align-self: center;
}
/* class="one-section" */
/* =================== */

/* ============= */
/* class="boxLg" */

.boxLg {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxLg.orange {
  background-color: #f17949;
}

.boxLg.yellow {
  background-color: #fab131;
}

.boxLg.orange h3,
.boxLg.yellow h3 {
  font-size: 2.3rem;
  font-family: "Frank Ruhl Libre", serif;
}

.boxLg.orange p,
.boxLg.yellow p {
  color: #793d25;
  font-size: 0.75rem;
}
/* class="boxLg" */
/* ============= */

/* =================== */
/* class="two-section" */
.two-section {
  display: flex;
  justify-content: space-between;
  background-color: #a9a19e;
  color: black;
}

.two-section p {
  padding-bottom: 100px;
}

.two-section .box,
.two-section .imgBox {
  width: calc(50% + 150px);
  box-sizing: border-box;
  border-radius: 10px;
}

.two-section .box {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.two-section .imgBox {
  background-color: orange;
  height: 200px;
  overflow: hidden;
  position: relative;
  top: -40px;
  z-index: 2;
}

.two-section .imgBox.childSection {
  background-color: #c7ddea;
}

.two-section .imgBox.adultSection {
  background-color: #fab131;
}

.two-section .imgBox.oldSection {
  background-color: #f17949;
}

.two-section .imgBox img {
  width: 35%;
  height: auto;
  margin-top: 30px;
}

.two-section .box h3,
.two-section .box p {
  padding: 20px;
}
/* class="two-section" */
/* =================== */

/* ===================== */
/* class="three-section" */
.three-section {
  background-color: #fab131;
  padding-bottom: 100px;
}

.three-section button {
  align-self: flex-start;
  margin: 0 30px 30px 30px;
}

.three-section img {
  width: 250px;
  height: auto;
  align-self: center;
}
/* class="three-section" */
/* ===================== */

/* ==================== */
/* class="four-section" */
.four-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c7ddea;
}

.four-section h2 {
  padding: 30px 30px;
  color: #282c2f;
}

.four-section .boxSm {
  padding: 70px 0;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}

.four-section .boxSm span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 32px;
  width: 30px;
  height: 30px;
  margin: 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.four-section .boxSm p {
  flex: 1;
  color: #4d4d4d;
  text-align: center;
  font-weight: 900;
}

.four-section .boxSm.white {
  background-color: #ffffff;
}

.four-section .boxSm.gray {
  background-color: #ebebeb;
}

.four-section .boxSm.orange {
  background-color: #f17949;
}

.four-section .boxSm.orange span {
  color: #91492c;
}
/* class="four-section" */
/* ==================== */

footer {
  background-color: #777574;
  height: 200px;
}

@media (min-width: 767px) {
  header nav ul li {
    flex: 1 1 0;
  }
}
