@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre&display=swap");

* {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.one-section {
  justify-content: space-between;
  background-color: #c7ddea;
  color: black;
}

.one-section h2 {
  font-size: 3rem;
  text-align: left;
  margin: 30px 30px;
  font-family: "Frank Ruhl Libre", serif;
}

.one-section p {
  font-size: 1rem;
  text-align: left;
  margin: 0 30px 30px 30px;
}

.one-section p > span {
  color: white;
}

.one-section button {
  align-self: flex-start;
  margin: 42px 30px;
  background-color: #fff;
  border-radius: 50px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px -1px,
    rgba(0, 0, 0, 0.14) 0 1px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: #333333;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  height: 45px;
  padding: 0 50px;
}

.one-section img {
  width: 250px;
  height: auto;
  align-self: center;
}

.boxLg {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxLg.orange {
  background-color: #f17949;
}

.boxLg.orange p {
  color: #793d25;
}

.boxLg.yellow {
  background-color: #fab131;
}

.boxLg.yellow p {
  color: #793d25;
}

.two-section {
  justify-content: space-between;
  background-color: #a9a19e;
  color: black;
}

.two-section h2 {
  font-size: 3rem;
  text-align: left;
  margin: 30px 30px;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
}

.two-section p {
  font-size: 1rem;
  text-align: left;
  margin: 0 30px 30px 30px;
}

.two-section img {
  width: 100px;
  height: auto;
}

.three-section {
  background-color: #fab131;
}

.three-section h2 {
  font-size: 3rem;
  text-align: left;
  margin: 30px 30px;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
}

.three-section p {
  font-size: 1rem;
  text-align: left;
  margin: 0 30px 30px 30px;
  color: black;
}

.three-section p > span {
  color: white;
}

.three-section button {
  align-self: flex-start;
  margin: 0 30px 30px 30px;
}

.three-section img {
  width: 250px;
  height: auto;
  align-self: center;
}

.four-section {
  background-color: #c7ddea;
}

.four-section h2 {
  padding: 50px;
  font-size: 3em;
  color: #282c2f;
  font-family: "Frank Ruhl Libre", serif;
}

.four-section p {
  color: #4d4d4d;
}

.four-section .boxSm {
  padding: 50px 0;
  width: 100%;
}

.four-section .boxSm.white {
  background-color: #ffffff;
}

.four-section .boxSm.gray {
  background-color: #ebebeb;
}

.four-section .boxSm.orange {
  background-color: #f17949;
}
