* {
  margin: 0;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;

  h1 {
    color: #f1356d;
  }

  .links {
    margin-left: auto;

    a {
      margin-left: 16px;
      text-decoration: none;
      padding: 6px;
      &:hover {
        color: #f1356d;
      }
    }
    #create {
      color: white;
      background-color: #f1356d;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      &:hover {
        color: black;
      }
    }
  }
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
